:root {
    --blue: rgb(46, 23, 178);
    --background-blue: rgba(4, 213, 255, 0.779);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background-blue);
    color: var(--blue);
}

header div {
    position: relative;
    display: inline;
    font-weight: bold;
    border-top: 5px solid var(--blue);
    padding: 3px;
}

a {
    padding: 3px;
}